{% extends "users/base_users.html" %}
{% block title %}Hilos isabela - login{% endblock title %}
{% block content %}
        <div class="container color1" id="login-block">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
        
                   <div class="login-box clearfix animated flipInY">
                        <div class="login-logo">
                            <h1>Hilos isabela</h1>
                        </div> 
                        <hr />
                        <div class="login-form">
                            <div class="alert alert-error hide">
                                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                                  <h4>Error!</h4>
                                   Your Error Message goes here
                            </div>
                            <form role="form" method="POST">{% csrf_token %}
                                
                                <div class="form-group">          
                                    {{ login_form.username }}
                                    {{ login_form.username.errors }}
                                </div>
                                <div class="form-group">
                               
                                    {{ login_form.password }}
                                    {{ login_form.password.errors }}
                                </div>
                                <button type="submit" name="login_form" class="btn btn-red ">INGRESAR</button>
                             </form>
            
                        </div>                      
                   </div>
                </div>
            </div>
        </div>
{% endblock content %}